@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Create an account | Sign In | Logout</h2>
<hr />
@*
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Already a User? Login", "Login")</p>
}
*@

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Already a User? Login", "Login")</p>
}