@{
  Layout = "_Layout";
}

@using SweetsAndTreats.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<p> <em>Passwords must be 8 characters and contain a digit, symbol, & lower & uppercase letters</em>
</p> 
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register" />
}